@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{
    --primary-dark: #2E2467;
    --primary-white:  #FDFBF9;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-dark);
    color: var(--primary-white);
    overflow: hidden;
}
h1{
    text-align: center;
    
}
label{
    padding: 10px 0px 5px 0px;
    border-bottom: 1px solid var(--primary-white);
    width: 20%;
}
.container{
    width: 50%;
    margin: 6rem  auto !important;
    border: 2px dashed var(--primary-white);
}
input,label{
    text-align: center;
    display: block;
    margin: auto;
}
input{
    height: 55px;
    width: 50%;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    outline: none;
    background-color: transparent;
    color: var(--primary-white);
    border: 1px dashed var(--primary-white);
    border-radius: 5px;
}


#check-number{
    display: block;
    margin-top: 1rem;
    margin: auto;
    background: transparent;
    color: var(--primary-white);
    border:1px solid var(--primary-white);
    padding: 0.5rem;
    border-radius: 0.4rem;
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 13px 20px;
}
#output-box{
    text-align: center;
    margin: 1rem;
}
